In [1]:
from src.callbacks import *
from src.kmeans import *
from src.review import *
from src.utils import split_train_test, fit_predict
from sklearn.metrics import classification_report as report
import pandas as pd
import json
import os
from config import *
import matplotlib.pyplot as plt
plt.rcParams["font.family"] = "serif"

In [2]:
from pandas.core.common import SettingWithCopyWarning
from pandas.errors import DtypeWarning
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=SettingWithCopyWarning)
warnings.filterwarnings("ignore", category=DtypeWarning)

In [3]:
%matplotlib inline
import fastplot
from cycler import cycler

cc = (cycler('color',['k', 'r', 'b', 'g', 'y', 'm', 'c'])+
      cycler('linestyle',['-', '--', '-.', ':', '-', '--', '-.']))

default_cc = (cycler('color',['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', 
                      '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf']))

In [4]:
demonstrative = False

In [5]:
with open(f'{DATA}/services/services.json', 'r') as file:
    services = json.loads(file.read())

In [6]:
# Load the last-day unfiltered
df = pd.read_csv(r'E:\scanner\UER-py\raw_process\darkbert_G.csv.gz')
# Load the filters
# with open(r'E:\scanner\UER-py\raw_process\ips.json', 'r') as file:
#     filters = json.loads(file.read())
# Apply the 30 days filter
# df = df[df.ip.isin(set(filters['d1_f30']))]
#df = df[['ip','port', 'class', 'pp']].drop_duplicates()
# Convert poirt/procol pairs to lowercase
df.pp = df.pp.apply(lambda x: x.lower())
# Get the class of services
df['serv'] = df.pp.apply(lambda x: convert_pp(x, services))
# Add a ones column for packets sum
df['pkts'] = 1

df.head()

,ts,ip,port,proto,pp,ts_float,class,serv,pkts
0,2018-10-26 23:00:00.024453,a273,6666,tcp,6666/tcp,1.540566e+09,unknown,unk_usr,1
1,2018-10-26 23:00:00.026434,4b8d,331,tcp,331/tcp,1.540566e+09,unknown,unk_sys,1
2,2018-10-26 23:00:00.037230,ad4d,139,tcp,139/tcp,1.540566e+09,unknown,netbios,1
3,2018-10-26 23:00:00.091036,f804,20005,tcp,20005/tcp,1.540566e+09,unknown,unk_usr,1
4,2018-10-26 23:00:00.102833,ca41,45826,tcp,45826/tcp,1.540566e+09,unknown,unk_usr,1

In [7]:
baseline = build_dataset_from_raw(df, 5)
baseline.head()

,5358/tcp,5900/tcp,6379/tcp,9200/tcp,11211/tcp,111/tcp,990/tcp,139/tcp,8185/tcp,10994/tcp,8983/tcp,23/tcp,445/tcp,1433/tcp,22/tcp,class
ip,,,,,,,,,,,,,,,,
0000,0.0,0.285714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.571429,0.0,0.0,0.142857,unknown
0001,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.992754,0.0,0.0,0.000000,unknown
0002,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,unknown
0003,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,0.0,0.000000,unknown
0005,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.400000,0.0,0.0,0.000000,unknown

In [19]:
y_true, y_pred = knn_simple_step(baseline, True, 7)
print(report(y_true, y_pred))

              precision    recall  f1-score   support

           1       0.21      0.83      0.34       406
           2       0.22      0.43      0.29        86
           3       0.25      0.35      0.29       266
        n.a.       0.00      0.00      0.00         0
     unknown       1.00      0.97      0.98     54111

    accuracy                           0.96     54869
   macro avg       0.34      0.52      0.38     54869
weighted avg       0.99      0.96      0.97     54869

In [8]:
y_true, y_pred = knn_simple_step(baseline, False, 7)
print(report(y_true, y_pred))

              precision    recall  f1-score   support

           1       0.91      0.93      0.92       406
           2       0.95      0.42      0.58        86
           3       0.98      0.34      0.51       266
        n.a.       0.00      0.00      0.00         0
     unknown       0.00      0.00      0.00         0

    accuracy                           0.66       758
   macro avg       0.57      0.34      0.40       758
weighted avg       0.94      0.66      0.74       758